# See https://help.github.com/articles/ignoring-files/

# dependencies
/node_modules

# bytecode compiled
__pycache__/

# environments
.env
/venv

# logs
/logs

# database
app.db
dump.rdb

# misc
.DS_Store

# project specific
requirements.txt
